@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Barlow:wght@200;500&family=Chakra+Petch:wght@600&family=Concert+One&family=Dosis:wght@400;500;600;700&family=Fredoka+One&family=Gugi&family=Lobster+Two:ital@0;1&family=Manrope&family=Open+Sans:wght@300;400;600&family=Poppins:wght@300;500&family=Roboto:wght@300;400&family=Space+Grotesk:wght@300;400;500&family=Staatliches&family=Yeseva+One&display=swap');

* {
    margin: 0px;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

::selection {
    background-color: orange;
    color: ghostwhite;
}

header {
    display: flex;
}

header .logo_div {
    display: flex;
}

header .logo_div lord-icon {
    /* border: 2px solid; */
}

header .logo_div h1 {
    width: fit-content;
    border: none;
    /* border-bottom: 5px solid rgb(102, 37, 187); */
    font-family: 'Staatliches', cursive;
    text-shadow: 5px 5px lightgray;
    animation: font-color 3s ease-in-out .5s infinite alternate-reverse;
    -webkit-animation: font-color 3s ease-in-out .5s infinite alternate-reverse;

}

@keyframes font-color {
    0% {
        color: lightgreen;
        border-image: lightgreen;
        border-image-slice: 1;
        text-shadow: 5px 5px rgb(20, 2, 2);
    }

    10% {
        color: rebeccapurple;
            text-shadow: 5px 5px rgb(235, 202, 20);
    }

    20% {
        color: #E02C6D;
            text-shadow: 5px 5px rgb(219, 39, 210);
    }

    30% {
        color: rgba(0, 255, 255, 0.904);
        text-shadow: 5px 5px rgb(218, 105, 40);
    }
}

.header_btn {
    width: 50%;
    height: 10%;
}

.header_btn ul {
    display: flex;
    flex-wrap: wrap;
}

.header_btn ul li {
    margin-top: 1%;
    list-style: none;
    margin-left: 1em;
    border: none;
    padding: .3%;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.header_btn ul li:hover {
    background-color: #E02C6D;
    border-radius: 2px 16px 16px 16px;
    -webkit-border-radius: 2px 16px 16px 16px;
    -moz-border-radius: 2px 16px 16px 16px;
    -ms-border-radius: 2px 16px 16px 16px;
    -o-border-radius: 2px 16px 16px 16px;
}

.header_btn ul li a {
    text-decoration: none;
    color: #09131B;
    font-weight: bold;
    padding: 1px;
}

.header_btn ul li:hover a {
    color: ghostwhite;
    font-weight: bolder;
}

            /*! Introduction Section  */

.intro {
    display: flex;
    margin-left: 5%;
    margin-left: 5%;
}

h1 {
    font-size: 52px;
}

button.booking_btn {
    border: none;
    padding: 10px;
    padding-left: 16px;
    width: 140px;
    border-radius: 10px;
    text-align: left;
    background-color: #E02C6D;
    cursor: pointer;
    color: ghostwhite;
    animation: bg-animation 3s ease-in .3s infinite alternate-reverse;
    -webkit-animation: bg-animation 3s ease-in .3s infinite alternate-reverse;
}

@keyframes bg-animation {
    0% {
        background-color: rgb(111, 218, 40);
    }

    50% {
        background-color: rgb(235, 167, 41);
    }

    100% {
        background-color: rgb(67, 146, 211);
    }
}

button.booking_btn i {
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

button.booking_btn:hover i{
    margin-left: 10%;
}

            /*! Partners  */
.companies {
    margin-left: 8%;
    margin-right: 8%;
}

.companies fieldset {
    border: 3px solid #E1E7ED;
    border-radius: 20px;
    font-weight: bolder;
}

.companies legend {
    margin-left: 1%;
    padding-right: .3%;
    padding-left: .3%;
}

/* .companies hr {
    border: none;
    height: 3px;
    background-color: #E1E7ED;
} */
.company_logos {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
.company_logos img{
    margin-right: 2%;
}


        /*! Product Section  */

.products_section {
    margin-left: 8%;
    margin-right: 8%;
}

.product_container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10%;
    justify-content: center;
}

.all_products {
    margin-bottom: 2%;
    width: 329px;
    display: flex;
    flex-direction: column;
    /* background-color: ghostwhite; */
    border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -ms-border-radius: 20px 20px 0px 0px;
    -o-border-radius: 20px 20px 0px 0px;
    padding: .5%;
    box-shadow: 5px 7px 6px 6px #F9F9F9;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    /* border: 2px solid; */
    box-sizing: border-box;
}

.all_products img {

}

.all_products h2, h3, h4, h5{
    padding: 5px;
}


.all_products .stars i {
    color: #FB8200;
}

.all_products h4 {
    color: #F5A551;
}

.all_products h5 {
    /* background-color: rgb(209, 180, 160); */
    color: ghostwhite;
}

.all_products .cart_btn {
    border: none;
    height: 35px;
    width: 100%;
    /* background-color: #FC5530; */
    background-color: ghostwhite;
    cursor: pointer;
    font-weight: bolder;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.all_products .cart_btn:hover {
    color: lightblue;
}

/* .all_products:hover {

} */

.product_container h3:last-child, a{
    display: block;
    width: 100%;
    text-align: right;
    color: #E02C6D;
    text-decoration: none;
}


 /*! New Year Sale Section */

.new_yr_sale {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.589);
    box-sizing: border-box;
}


.sale_img img {
    height: 500px;
    width: 400px;
    padding-top: 50px;
}

.new_yr_sale {
    display: flex;
    flex-direction: row;
    gap: 15%;

}

.sale_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sale_content > button.sale_btn {
    border: none;
    padding: 1%;
    height: 50px;
    width: 150px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: pointer;
}

/*! footer part  */

footer {
    background-color: #18112b;
    color: #F9F9F9;
}

footer .footer_content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.links {
    display: flex;
    justify-content: center;
}

.links .link i {
    color: white;
}

